h3 {
 color: #bfb;
padding-right: 1em;

 text-align:center;
}

#banner {
background: #9c9;
padding-top: 20px;
padding-bottom: 20px;
border-bottom: 2px solid;
font: small-caps 40px/40px "Times New Roman", serif;
color: #282;
text-align: center;
}
#banner img {
float: left;
}
#columns {
background: #141;
}

#main {
margin-left: 15em;
margin-right: 10em;
padding-top: 4em;
padding-left: 2em;
padding-right: 2em;
background: white;
}
#side {
float: left;
padding-top: 1em;
padding-left: 1em;
padding-bottom: 1em;
width: 14em;
background: #141;
}
#rside {
float: right;
padding-top: 1em;
padding-right: 1em;
padding-bottom: 1em;
width: 8em;
background: #141;
}
#rside p {
    color: #bfb;
}
#side a {
color: #bfb;
font-size: small;
}

#rside a {
  color: #bfb;
    font-size: medium;

}
#footer {
    text-align: center;
    border-top-style: dotted;
    border-top-width: 1px;
}

#snapshot {
    font-size: 1.875em;
    font-family:"Times New Roman", Times, serif;
    text-align: center;
    margin: 1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 1em;
}
#snapshot_info {

    text-align: center;
    margin: 1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 1em;
}
#snapshot_info table{
     font-size: 1.875em;
    font-family:"Times New Roman", Times, serif;
    text-align: center;
    margin: 1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 1em;
}
#snapshot_info table td {
    padding: 2em, 2em
margin: 2em;
}
#item_info  {
     font-size: 1.875em;
    font-family:"Times New Roman", Times, serif;
    text-align: center;
    margin: 1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 1em;
}
table.items td
{
    border-bottom: 1px solid #ccc;

}
table.items td.item_tag {
  vertical-align: center;
  padding-right: 8em;
}
table.items td.item_photo {
    vertical-align: top;
}

table.items td.item_delete {
    margin-left: 6em;
}

#item {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom-style: dashed;
    border-bottom-width: thin;
    border-bottom-color: white;

}

#item_pic {
    padding-right: 5px;


}

#item_del {
    padding-right: 1em;
    text-align: right;
}

#errors {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: large;
}