<% if user_signed_in? %>
<h1>User: <%= @current_user.email %>: Snapshot upload</h1>


    <% if flash[:success] %>
        <%= flash[:success] %>
        <% end %>
 <%= render 'shared/snapshot_form'  %>



<% else %>
    <h1>Welcome to InventorySnapshot</h1>
<p> Please sign in or sign up!</p>

<% end %>