<% if user_signed_in? %>
<h1>Snapshots</h1>
<p><%= current_user.email %></p>
     <div id = "snapshot_list">
   <%= render @user_snapshots %>

         </div>
 <% else %>
 <h1>Please Sign in</h1>
<% end %>