<h1>About Inventory Snapshot</h1>
    <p>
      Inventory Snapshot is a WebApp designed to help organize your insurance items in a visual manner.
      A user will have a collection of Snapshots, or a picture containing numerous belongings.
      The user can then crop these items out of the image, and input a name, description, and price
      for these items. It's hard to remember everything you own, we'll help you remember.
    </p>